.singleuser {
    background-color: #f0f0f0;
    height: 130vh;
}


.headeruser {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    object-fit: cover;
    position: absolute;

}

.singleuser-container {
    margin-left: 100px;
    width: 50%;
    height: 100vh;
}

.singleuser-container img {
    margin-left: 75px;
}

.avatar {
    position: relative;
    top: 200px;
    display: flex;
    border-radius: 100%;
    width: 200px;

}

.singleuser-body {
    height: 100vh;
    width: 50%;
    margin-top: 13%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.singleuser-body h1 {
    color: #262525;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 45px;
    margin-top: 19vh;
    text-align: center;

}

.singleuser-body p {
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    color: #afafaf;
    font-size: 20px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.singleuser-body button {
    margin-top: 5vh;
    padding: 10px 40px;
    border: none;
    border-radius: 10px;
    background: #e3b04b;
    color: #fff;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 20px;
    width: 70%;
    margin-left: 15%;
    margin-top: 3vh;
}

.about {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #f9f9f9;
    width: 200%;
    position: relative;
    bottom: 42vh;
    left: 32vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.about h3 {
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 630;
    font-size: 25px;
    margin-left: 2vw;
    margin-top: 3vh;
}

.about h5 {
    font-size: 17px;
    margin-top: 20px;
    margin-left: 2vw;
    padding: 10px;
    font-style: italic;
    color: #afafaf;
}

@media screen and (max-width: 1300px) {
    .singleuser {
            background-color: #f0f0f0;
            height: 175vh;
        }

    .headeruser {
        position: static;

    }

    .singleuser-container {
        margin-left: 0px;
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .singleuser-container img {
        margin-left: 0vw;
    }

    .avatar {
        position: relative;
        top: 1vh;
        border-radius: 100%;
        width: 250px;
    }

    .singleuser-body {
        height: 100vh;
        width: 100%;
        margin-top: 0%;
        display: flex;
        flex-direction: column;
    }

    .singleuser-body h1 {
        font-weight: 600;
        font-size: 45px;
        margin-top: 5vh;
        text-align: center;

    }

    .singleuser-body button {
        width: 50%;
        margin-left: 25%;
        margin-top: 3vh;
    }

    .about {
        border: none;
        background-color: #f0f0f0;
        border-radius: none;
        padding: 0px;
        width: 100%;
        position: static;
        bottom: 0vh;
        left: 0vw;
        box-shadow: none;
        margin-top: 10vh;
        }

    .about h3 {
        text-align: center;
    }

    .about h5 {
        text-align: center;
    }
}