.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    padding-top: 3vh;
}

.navbar a {
    color: #b38531;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;

}

.navbar a:hover {
    color: #e3b04b;
}

.navbar button {
    background: #b38531;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 1vh;
    min-width: 7%;
    font-size: 110%;
    border-radius: 5%;
}

.navbar button:hover {
    background: #e3b04b;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5%;
    padding-top: 3vh;
}

.footer p {
    color: #b38531;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;

}