.user {
    background: #ebebed;
}

.user-title {
    color: #5a5d60;
    font-weight: bold;
    font-size: 30px;
    padding-top: 10vh;
    text-align: center;

}

.user-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}